<div class="center">

    <div class="card">
        <div class="additional">
            <div class="user-card{% if player.id == 2 %}blue{% endif %}">
                <div class="level center">
                    {{ player.charac_id }}
                </div>
                <div class="class center">
                    {{ player.kind }}
                </div>
                <img class="user-picture" src="https://images.innoveduc.fr/easter_hackathon/3.jpeg" alt="image du joueur">
            </div>
            <div class="more-info">
                <h2>{{ player.name }}</h2>
                <div class="coords">
                    <span>Espèces : {{ player.species }}</span>
                    <span>Genre : {{ player.gender }}</span>
                </div>
                <div class="coords">
                    <span>Origine : {{ player.origin }}</span>
                    <span>Classe : {{ player.class }}</span>
                </div>
                <div class="stats">
                    <div>
                        <div class="title"><img src=""></div>
                        <i class="fa fa-trophy"></i>
                        <div class="value"></div>
                    </div>
                    <div>
                        <div class="title"><img src=""></div>
                        <i class="fa fa-gamepad"></i>
                        <div class="value">{{ player.chocolate }}</div>
                    </div>
                    <div>
                        <div class="title"><img src=""></div>
                        <i class="fa fa-group"></i>
                        <div class="value">{{ player.eggs }}</div>
                    </div>
                    <div>
                        <div class="title"><img src=""></div>
                        <i class="fa fa-coffee"></i>
                        <div class="value">{{ player.life }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general">
            <h2>{{ player.name }}</h2>
            <p>{{ player.description }}</p>
            <span class="more">+ d'infos</span>
        </div>
    </div>


</div>