<div class="card card-config text-center">
    {{ dump(class) }}
    <div class="">
        <img class="card-img-top class-picture" src="{{ class.picture }}" alt="image de classe">
    </div>
    <div class="card-body">
        <h2 class="card-title card_title_player">{{ class.name }}</h2>
        <p class="card-text card_title_text">{{ class.description }}</p>
        <ul class="list-group list-group-flush">
            {% for race in class.races %}
                <li class="list-group-item card_title_text">{{ race }}</li>
            {% endfor %}
        </ul>
        <p class="card-text card_title_text">{{ class.bonus }}</p>
        <form action="{% if secondChoice == true %}2{% else %}/home/choice/1"{% endif %} method="post">
            <button class="btn btn-primary">GO</button>
        </form>
    </div>
</div>
