{% extends 'layout.html.twig' %}
{% block content %}
    <!-- Background + sound -->
    <div class="container justify-content-center mx-auto">

        <video class="fullscreen" autoplay="true" loop
               src="https://preview.redd.it/zbkvapl8lp601.gif?format=mp4&s=d4393460e03d7c1f117f166f32819e54b793ee1f"></video>
    </div>

    <!-- fin background + sound -->

    <div class="container-fluid container_padding mt-2">
        <div class="row">
            <div class="col-6">
                {% for player in players %}
                    {% include 'Item/_playerCard.html.twig' %}
                {% endfor %}
                <div class="row text-center">
                    {% if content==false %}
                    <div class="controller gamepad">

                        <form action="show" method="post">

                            <table class="table_control">
                                <tbody style="width: 300px">
                                <tr style="height: 100px">
                                    <td style="height: 100px"></td>
                                    <td style="width: 100px"><button type="submit" class="btn btn-dark" value="up" name="goWhere"></button></td>
                                    <td></td>
                                </tr>
                                <tr style="height: 100px">
                                    <td style="width: 100px"><button type="submit" class="btn btn-dark" value="left"name="goWhere"></button></td>
                                    <td style="width: 100px"></td>
                                    <td style="width: 100px"><button type="submit" class="btn btn-dark" value="right"name="goWhere"></button></td>
                                </tr>
                                <tr style="height: 100px">
                                    <td style="width: 100px"></td>
                                    <td style="width: 100px"><button type="submit" class="btn btn-dark" value="down"name="goWhere"></button></td>
                                    <td></td>
                                </tr>
                                </tbody>




                            </table>

                            <input type="hidden" name="player_next" value="{{ player_id }}"/>
                        </form>

                    </div>
                    {% endif %}
                    {% if content==true %}
                        <div class="controller gamepad">

                            <form action="index" method="post">
                                <div class="text-center btn_play">
                                    <button type="submit" class="btn btn-item">JOUEUR SUIVANT</button>
                                </div>
                                <input type="hidden" name="player_next" value="{{ player_id }}"/>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Début tableau ----------------->
            <div class="col-6">
                {% set count = 0 %}
                <div class="grid border border-dark grid_margin_top">
                    {% for x  in 1..map.height %}
                        <div class="row m-0">
                            {% for y  in 1..map.width %}
                                {% set reveal = 0 %}
                                {% if player_id == 1 %}
                                     {% set reveal = cells[count].player1_reveal %}
                                {% else %}
                                    {% set reveal = cells[count].player2_reveal %}
                                {% endif %}
                                <div class="box border border-white
                                {% if  players[player_id-1].x_init == x and players[player_id-1].y_init == y %}
                                    player_locate
                                {% endif %}
                                {{ reveal == 1 ? 'map-cell-reveal' : '' }}">

                                    <div class=" inner
{{ cells[count].content_type_id == 1 ? 'map-egg' }}
{{ cells[count].content_type_id == 2 ? 'map-milk' }}
{{ cells[count].content_type_id == 3 ? 'map-choco' }}
{{ cells[count].content_type_id == 4 ? 'map-monster' }}
{{ cells[count].content_type_id == 5 ? 'map-superegg' }}

"><img src="{{ cells[count].content_type_id == 5 and reveal == 1 ? '/assets/images/easteregg2.png' }}" >
   <img src="{{ cells[count].content_type_id == 3 and reveal == 1 ? '/assets/images/choco_tablet2.png' }}">
     <img src="{{ cells[count].content_type_id == 2 and reveal == 1 ? '/assets/images/lait2.png' }}">
       <img src="{{ cells[count].content_type_id == 4 and reveal == 1 ? '/assets/images/monster2.png' }}">
         <img src="{{ cells[count].content_type_id == 1 and reveal == 1 ? '/assets/images/normal_egg2.png' }}">

                    {% if  players[0].x_init == x and players[0].y_init == y %}
                            <img src="/assets/images/player1.png">
                    {% endif %}
                    {% if  players[1].x_init == x and players[1].y_init == y %}
                        <img src="/assets/images/player2.png">
                    {% endif %}
                                    </div>
                                </div>
                                {% set count = count + 1 %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <!-- fin tableau -->
            </div>
        </div>
    </div>

{% endblock %}
